{{> menu id="dashboard"}}

{{> listplaylists}}
{{> addplaylist}}

<section class="ui left aligned middle aligned segment">
  
  <h2>Playlist App Dashboard</h2>

  {{#each playlists}}
  
    <section class="ui left aligned middle aligned scrolling segment">

      <h3 class="ui header">
        {{title}}
      </h3>      

      {{#if songs.length}}
        <p>Total songs: {{songs.length}}</p>
        <table class="ui unstackable striped table">
          <thead>
            <tr>
              <th>Song</th>
              <th>Artist</th>
            </tr>
          </thead>
          <tbody>
            {{#each songs}}
              <tr>
                <td>{{title}}</td>
                <td>{{artist}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{else}}
        <p>Empty Playlist!</p>
      {{/if}}

      <a href="/playlist/{{id}}">
        <i class="folder open outline icon"></i>
      </a>

    </section>

  {{/each}}

</section>